.header-text{
	margin: 0;
	font-size: 2em;
	padding: .5em;
	font-weight: 300;
	color: #555;
}
.setting-text{
	margin-bottom: 0;
	font-size: 1em;
	margin-top: 0.375em;
	font-weight: 300;
	color: #555;
}