.header{
	@include container;
	@include span(12);
	background: $light-grey;
}
.tabs {
    margin-top: 0.625em;
	margin-bottom: 0;
	padding: 0 2em 2em;
	position: relative;   
	clear: both;
    &:after {
		content: '';
		display: table;
		clear: both;
	}
}
.tab-hidden-input {
    display:none;
}
.tab-label {
    color: #555;
	font-weight: 300;
	padding: .75em .75em 0;	
	background: #eee;
	padding: 0.625em;
	display: inline-block;
	&:hover{
		@include box-shadow(inset 1px 1px 2px rgba(153, 153, 153, .75));
		@include border-radius(.75em .75em 0 0);
		cursor: pointer;
	}
}
.tab-content {
    display: none;
    width: 100%;
    float: left;
    padding: 1em;
    box-sizing: border-box;
    background-color: #FFF;
}
@keyframes scale {
	0% {
		transform: scale(0.9);
		opacity: 0;
	}
	50% {
		transform: scale(1.01);
		opacity: 0.5;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}
.tabs [id^="tab"]:checked + .tab-label {
    color: $brand-color;
	background: #FFF;
	@include border-radius(.75em .75em 0 0);
	z-index: 2;
	&:hover{
		@include box-shadow(none);
	}
}
#tab1:checked ~ #tab-content1,
#tab2:checked ~ #tab-content2,
#tab3:checked ~ #tab-content3,
#tab4:checked ~ #tab-content4,
#tab5:checked ~ #tab-content5,
#tab6:checked ~ #tab-content6 {
    display: block;
}