.setting-input-group{
	position: relative;
	display: table;
	border-collapse: separate;
	input,
	textarea,
	select{
		display: table-cell;
		float: left;
		width: 100%;
		border: none;
		background: #EEE;
		height: 2.143em;
		outline: none;
		font-size: 0.875em;
		padding: 0.429em;
		color: #555;
	}
	textarea{
		height: 6em;
	}
	.input-group-addon{
		display: table-cell;
		width: 1%;
		white-space: nowrap;
		vertical-align: middle;
		line-height: 1;
		padding: .375em .75em;
		font-size: 1em;
		font-weight: 400;
		line-height: 1;
		color: #555;
		text-align: center;
		background-color: $light-grey;
		border-left: 1px solid $dark-grey;
		position: relative;
	}	
}
.toggle-wrapper,
.toggle,
.checkbox-label{
	&:before,
	&:after{
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		@include transition(.25s ease-in-out);
		outline: none;
	}
}
.toggle-wrapper{
	width: 3.750em;
	text-align: center;
}
.toggle,
.toggle:active{
	position: absolute;
	top: -312.500em;
	height: 0;
	width: 0;
	opacity: 0;
	border: none;
	outline: none;
}
.checkbox-label{
	display: block;
	position: relative;
	padding: 0.833em;
	font-size: .75em;
	line-height: 1.333em;
	width: 100%;
	height: 2em;
	@include border-radius(1.500em);
	background: #f8f8f8;
	cursor: pointer;
	&:before{
		content: '';
		display: block;
		position: absolute;
		z-index: 1;
		line-height: 2.833em;
		text-indent: 3.333em;
		height: 2em;
		width: 2em;
		@include border-radius(100%);
		top: 0;
		left: 0;
		right: auto;
		background: #FFF;
		@include box-shadow(0 3px 3px rgba(0,0,0,.2), 0 0 0 2px #DDD);
	}
	&:after{
		content: attr(data-off);
		display: block;
		position: absolute;
		z-index: 0;
		top: 0;
		left: -25.000em;
		padding: 0.833em;
		height: 100%;
		width: 25.000em;
		text-align: right;
		color: #bfbfbf;
		white-space: nowrap;
	}
}
.toggle:checked + .checkbox-label{
	@include box-shadow(inset 0 0 0 20px rgba(19,191,17,1),0 0 0 2px rgba(19,191,17,1));
}
.toggle:checked + .checkbox-label:before{
	left:calc(100% - 2em);
	@include box-shadow(0 0 0 2px transparent,0 3px 3px rgba(0,0,0,.3));
}
.toggle:checked + .checkbox-label:after{
	content: attr(data-on);
	left: 3.750em;
	width: 2.250em;
}
.checkbox-label{
	@include box-shadow(inset 0 0 0 0px rgba(19,191,17,1), 0 0 0 2px #DDD);
	&:checked{
		@include box-shadow(inset 0 0 0 18px rgba(19,191,17,1), 0 0 0 2px rgba(19,191,17,1));
	}
}
.checkbox-label:checked + .checkbox-label:after{
	color: rgba(19,191,17,1);
}
.setting-horizontal-rule{
	border: 1px solid #EEE;
	width: 100%;
	float: right;
	margin: 1em 0;
}
.image-wrapper {
	overflow: hidden;
	float: left;
	max-width: 100%;
	.setting-text{
		text-align: center;
	}
	a {
		overflow: hidden;
		img {
			margin: 1em auto;
			display: block;
			max-height: 25em;
		}
	}
}
.top-images{
	img{
		max-height: 12.500em;
	}
}
.lightbox {
	opacity: 0;
	position: fixed;
	z-index: 9999;
	width: 100%;
	height: 100%;
	top: -100%;
	left: 0;
	color: #333;
	@include transition(opacity .5s ease-in-out);
	&:target {
		opacity: 1;
		outline: none;
		top: 0;
	}
	.box {
		width: -webkit-min-content;
		width: -moz-min-content;
		width: min-content;
		min-width: 31.250em;
		margin: 2% auto;
		padding: 0.625em 1.250em 0.625em 1.250em;
		background-color: #FFF;
		&.img-box{
			width: 90%;
		}
		@include box-shadow(0px 1px 26px -3px #777);
		span{
			font-size: .5em;
		}
	}
	.content {
		display:block;
		position:relative;
		img{
			margin-top: 1em;
		}
	}
	.close {
		display: block;
		float: right;
		font-size: 1.375em;
		color: #858585;
	}
}
.settings-container-middle{
	.setting-input-group{
		margin-top: 1em;
	}
}
.category-dump{
	margin-top: 6em;
	li{
		border: 1px solid $brand-color;
		padding: 1em;
		color: #555;
		font-weight: 500;
		float: initial;
		margin-top: 1em;
		&:first-of-type{
			margin-top: 0;
		}
		img{
			width: 1.250em;
			margin-right: 0.625em;
		}
	}
}
.user-role-table{
	border-collapse: collapse;
	th{
		color: #555;
		font-weight: 500;
	}
	.setting-text{
		text-align: center;
	}
	td{
		padding-bottom: 1em;
		padding-top: 1em;
		border-bottom: 1px solid #CCC;
	}
	tr{
		&:last-of-type{
			td{
				border: 0;
			}
		}
	}
}
.checkbox-custom{
    opacity: 0;
    position: absolute;   
}
.checkbox-custom, 
.checkbox-custom-label{
    display: inline-block;
    vertical-align: middle;
    margin: .25em;
    cursor: pointer;
}
.checkbox-custom-label{
    position: relative;
    width: 100%;
}
.checkbox-custom + .checkbox-custom-label:before{
    content: '';
    background: #FFF;
    border: 2px solid #CCC;
    vertical-align: middle;
    width: 1.25em;
    height: 1.25em;
    padding: 0.063em;
    text-align: center;
	margin: 0 auto;
	display: block;
}
.checkbox-custom:checked + .checkbox-custom-label:before {
    background: $brand-color;
    box-shadow: inset 0px 0px 0px 3px #fff;
}
.checkbox-custom:focus + .checkbox-custom-label{
  outline: none;
}
.add-user-role{
	margin-bottom: 2em;
	.setting-text{
		color: $brand-color;
		font-weight: 500;
	}
}