.pull-right {
  float: right; }

.pull-left {
  float: left; }

.full-width {
  width: 100%; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Roboto";
  margin: 0; }

.container {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto; }
  .container:after {
    content: " ";
    display: block;
    clear: both; }

a {
  text-decoration: none; }

ul {
  list-style-type: none;
  padding: 0; }

textarea {
  resize: none; }

.header {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  background: #EEEEEE; }
  .header:after {
    content: " ";
    display: block;
    clear: both; }

.tabs {
  margin-top: 0.625em;
  margin-bottom: 0;
  padding: 0 2em 2em;
  position: relative;
  clear: both; }
  .tabs:after {
    content: '';
    display: table;
    clear: both; }

.tab-hidden-input {
  display: none; }

.tab-label {
  color: #555;
  font-weight: 300;
  padding: .75em .75em 0;
  background: #eee;
  padding: 0.625em;
  display: inline-block; }
  .tab-label:hover {
    -webkit-box-shadow: inset 1px 1px 2px rgba(153, 153, 153, 0.75);
    -moz-box-shadow: inset 1px 1px 2px rgba(153, 153, 153, 0.75);
    box-shadow: inset 1px 1px 2px rgba(153, 153, 153, 0.75);
    border-radius: 0.75em 0.75em 0 0;
    -moz-border-radius: 0.75em 0.75em 0 0;
    -webkit-border-radius: 0.75em 0.75em 0 0;
    cursor: pointer; }

.tab-content {
  display: none;
  width: 100%;
  float: left;
  padding: 1em;
  box-sizing: border-box;
  background-color: #FFF; }

@keyframes scale {
  0% {
    transform: scale(0.9);
    opacity: 0; }
  50% {
    transform: scale(1.01);
    opacity: 0.5; }
  100% {
    transform: scale(1);
    opacity: 1; } }
.tabs [id^="tab"]:checked + .tab-label {
  color: #00A9E0;
  background: #FFF;
  border-radius: 0.75em 0.75em 0 0;
  -moz-border-radius: 0.75em 0.75em 0 0;
  -webkit-border-radius: 0.75em 0.75em 0 0;
  z-index: 2; }
  .tabs [id^="tab"]:checked + .tab-label:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }

#tab1:checked ~ #tab-content1,
#tab2:checked ~ #tab-content2,
#tab3:checked ~ #tab-content3,
#tab4:checked ~ #tab-content4,
#tab5:checked ~ #tab-content5,
#tab6:checked ~ #tab-content6 {
  display: block; }

.header-text {
  margin: 0;
  font-size: 2em;
  padding: .5em;
  font-weight: 300;
  color: #555; }

.setting-text {
  margin-bottom: 0;
  font-size: 1em;
  margin-top: 0.375em;
  font-weight: 300;
  color: #555; }

.settings-container {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  background: #FFF;
  padding: 1em; }
  .settings-container:after {
    content: " ";
    display: block;
    clear: both; }

.cards-container {
  padding: 0 2em 2em; }
  .cards-container .card-row {
    max-width: 75em;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; }
    .cards-container .card-row:after {
      content: " ";
      display: block;
      clear: both; }
    .cards-container .card-row .card {
      max-width: 75em;
      margin-left: auto;
      margin-right: auto;
      width: 32.20339%;
      float: left;
      margin-right: 1.69492%; }
      .cards-container .card-row .card:after {
        content: " ";
        display: block;
        clear: both; }
      .cards-container .card-row .card:first-child {
        width: 32.20339%;
        float: left;
        margin-right: 1.69492%; }
      .cards-container .card-row .card:last-child {
        width: 32.20339%;
        float: right;
        margin-right: 0; }

.settings-container-left {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto; }
  .settings-container-left:after {
    content: " ";
    display: block;
    clear: both; }
  @media all and (min-width: 900px) {
    .settings-container-left {
      width: 49.15254%;
      float: left;
      margin-right: 1.69492%; } }
  @media all and (max-width: 899px) {
    .settings-container-left {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

.settings-container-right {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto; }
  .settings-container-right:after {
    content: " ";
    display: block;
    clear: both; }
  @media all and (min-width: 900px) {
    .settings-container-right {
      width: 49.15254%;
      float: right;
      margin-right: 0; } }
  @media all and (max-width: 899px) {
    .settings-container-right {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

.settings-container-middle {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  width: 49.15254%;
  float: left;
  margin-left: 25.42373%;
  margin-right: -100%; }
  .settings-container-middle:after {
    content: " ";
    display: block;
    clear: both; }
  .settings-container-middle .setting-name,
  .settings-container-middle .setting-input-group {
    max-width: 75em;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; }
    .settings-container-middle .setting-name:after,
    .settings-container-middle .setting-input-group:after {
      content: " ";
      display: block;
      clear: both; }

.category-dump {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0; }
  .category-dump:after {
    content: " ";
    display: block;
    clear: both; }
  .category-dump li {
    max-width: 75em;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; }
    .category-dump li:after {
      content: " ";
      display: block;
      clear: both; }

.individual-setting-wrapper {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  position: relative;
  margin-bottom: .75em; }
  .individual-setting-wrapper:after {
    content: " ";
    display: block;
    clear: both; }
  .individual-setting-wrapper.no-margin-bottom {
    margin-bottom: 0; }

.setting-name {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%; }
  .setting-name:after {
    content: " ";
    display: block;
    clear: both; }

.setting-input-group {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  width: 49.15254%;
  float: right;
  margin-right: 0; }
  .setting-input-group:after {
    content: " ";
    display: block;
    clear: both; }

.add-user-role .setting-name {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%; }
  .add-user-role .setting-name:after {
    content: " ";
    display: block;
    clear: both; }
.add-user-role .setting-input-group {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  width: 74.57627%;
  float: right;
  margin-right: 0; }
  .add-user-role .setting-input-group:after {
    content: " ";
    display: block;
    clear: both; }

.toggle-wrapper--general {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  width: 49.15254%;
  float: right;
  margin-right: 0; }
  .toggle-wrapper--general:after {
    content: " ";
    display: block;
    clear: both; }

.top-images {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0; }
  .top-images:after {
    content: " ";
    display: block;
    clear: both; }
  .top-images .image-wrapper {
    max-width: 75em;
    margin-left: auto;
    margin-right: auto; }
    .top-images .image-wrapper:after {
      content: " ";
      display: block;
      clear: both; }
    @media all and (min-width: 900px) {
      .top-images .image-wrapper {
        width: 23.72881%;
        float: left;
        margin-right: 1.69492%; } }
    @media all and (max-width: 899px) {
      .top-images .image-wrapper {
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0; } }
    .top-images .image-wrapper:first-of-type {
      max-width: 75em;
      margin-left: auto;
      margin-right: auto; }
      .top-images .image-wrapper:first-of-type:after {
        content: " ";
        display: block;
        clear: both; }
      @media all and (min-width: 900px) {
        .top-images .image-wrapper:first-of-type {
          width: 23.72881%;
          float: left;
          margin-right: 1.69492%; } }
      @media all and (max-width: 899px) {
        .top-images .image-wrapper:first-of-type {
          width: 100%;
          float: left;
          margin-left: 0;
          margin-right: 0; } }
    .top-images .image-wrapper:last-of-type {
      max-width: 75em;
      margin-left: auto;
      margin-right: auto; }
      .top-images .image-wrapper:last-of-type:after {
        content: " ";
        display: block;
        clear: both; }
      @media all and (min-width: 900px) {
        .top-images .image-wrapper:last-of-type {
          width: 49.15254%;
          float: right;
          margin-right: 0; } }
      @media all and (max-width: 899px) {
        .top-images .image-wrapper:last-of-type {
          width: 100%;
          float: left;
          margin-left: 0;
          margin-right: 0; } }

.image-wrapper--first {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto; }
  .image-wrapper--first:after {
    content: " ";
    display: block;
    clear: both; }
  @media all and (min-width: 900px) {
    .image-wrapper--first {
      width: 49.15254%;
      float: left;
      margin-right: 1.69492%; } }
  @media all and (max-width: 899px) {
    .image-wrapper--first {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

.image-wrapper--last {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto; }
  .image-wrapper--last:after {
    content: " ";
    display: block;
    clear: both; }
  @media all and (min-width: 900px) {
    .image-wrapper--last {
      width: 49.15254%;
      float: right;
      margin-right: 0; } }
  @media all and (max-width: 899px) {
    .image-wrapper--last {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

.stat-wrapper--left {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto; }
  .stat-wrapper--left:after {
    content: " ";
    display: block;
    clear: both; }
  @media all and (min-width: 900px) {
    .stat-wrapper--left {
      width: 49.15254%;
      float: left;
      margin-right: 1.69492%;
      padding-left: 1em; } }
  @media all and (max-width: 899px) {
    .stat-wrapper--left {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

.stat-wrapper--right {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto; }
  .stat-wrapper--right:after {
    content: " ";
    display: block;
    clear: both; }
  @media all and (min-width: 900px) {
    .stat-wrapper--right {
      width: 49.15254%;
      float: right;
      margin-right: 0;
      padding-right: 1em; } }
  @media all and (max-width: 899px) {
    .stat-wrapper--right {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

.setting-input-group {
  position: relative;
  display: table;
  border-collapse: separate; }
  .setting-input-group input,
  .setting-input-group textarea,
  .setting-input-group select {
    display: table-cell;
    float: left;
    width: 100%;
    border: none;
    background: #EEE;
    height: 2.143em;
    outline: none;
    font-size: 0.875em;
    padding: 0.429em;
    color: #555; }
  .setting-input-group textarea {
    height: 6em; }
  .setting-input-group .input-group-addon {
    display: table-cell;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    line-height: 1;
    padding: .375em .75em;
    font-size: 1em;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #EEEEEE;
    border-left: 1px solid #CCCCCC;
    position: relative; }

.toggle-wrapper:before, .toggle-wrapper:after,
.toggle:before,
.toggle:after,
.checkbox-label:before,
.checkbox-label:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  outline: none; }

.toggle-wrapper {
  width: 3.750em;
  text-align: center; }

.toggle,
.toggle:active {
  position: absolute;
  top: -312.500em;
  height: 0;
  width: 0;
  opacity: 0;
  border: none;
  outline: none; }

.checkbox-label {
  display: block;
  position: relative;
  padding: 0.833em;
  font-size: .75em;
  line-height: 1.333em;
  width: 100%;
  height: 2em;
  border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  -webkit-border-radius: 1.5em;
  background: #f8f8f8;
  cursor: pointer; }
  .checkbox-label:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    line-height: 2.833em;
    text-indent: 3.333em;
    height: 2em;
    width: 2em;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    top: 0;
    left: 0;
    right: auto;
    background: #FFF;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2), 0 0 0 2px #DDD;
    -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2), 0 0 0 2px #DDD;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2), 0 0 0 2px #DDD; }
  .checkbox-label:after {
    content: attr(data-off);
    display: block;
    position: absolute;
    z-index: 0;
    top: 0;
    left: -25.000em;
    padding: 0.833em;
    height: 100%;
    width: 25.000em;
    text-align: right;
    color: #bfbfbf;
    white-space: nowrap; }

.toggle:checked + .checkbox-label {
  -webkit-box-shadow: inset 0 0 0 20px #13bf11, 0 0 0 2px #13bf11;
  -moz-box-shadow: inset 0 0 0 20px #13bf11, 0 0 0 2px #13bf11;
  box-shadow: inset 0 0 0 20px #13bf11, 0 0 0 2px #13bf11; }

.toggle:checked + .checkbox-label:before {
  left: calc(100% - 2em);
  -webkit-box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(0, 0, 0, 0.3); }

.toggle:checked + .checkbox-label:after {
  content: attr(data-on);
  left: 3.750em;
  width: 2.250em; }

.checkbox-label {
  -webkit-box-shadow: inset 0 0 0 0px #13bf11, 0 0 0 2px #DDD;
  -moz-box-shadow: inset 0 0 0 0px #13bf11, 0 0 0 2px #DDD;
  box-shadow: inset 0 0 0 0px #13bf11, 0 0 0 2px #DDD; }
  .checkbox-label:checked {
    -webkit-box-shadow: inset 0 0 0 18px #13bf11, 0 0 0 2px #13bf11;
    -moz-box-shadow: inset 0 0 0 18px #13bf11, 0 0 0 2px #13bf11;
    box-shadow: inset 0 0 0 18px #13bf11, 0 0 0 2px #13bf11; }

.checkbox-label:checked + .checkbox-label:after {
  color: #13bf11; }

.setting-horizontal-rule {
  border: 1px solid #EEE;
  width: 100%;
  float: right;
  margin: 1em 0; }

.image-wrapper {
  overflow: hidden;
  float: left;
  max-width: 100%; }
  .image-wrapper .setting-text {
    text-align: center; }
  .image-wrapper a {
    overflow: hidden; }
    .image-wrapper a img {
      margin: 1em auto;
      display: block;
      max-height: 25em; }

.top-images img {
  max-height: 12.500em; }

.lightbox {
  opacity: 0;
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  color: #333;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out; }
  .lightbox:target {
    opacity: 1;
    outline: none;
    top: 0; }
  .lightbox .box {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    min-width: 31.250em;
    margin: 2% auto;
    padding: 0.625em 1.250em 0.625em 1.250em;
    background-color: #FFF;
    -webkit-box-shadow: 0px 1px 26px -3px #777;
    -moz-box-shadow: 0px 1px 26px -3px #777;
    box-shadow: 0px 1px 26px -3px #777; }
    .lightbox .box.img-box {
      width: 90%; }
    .lightbox .box span {
      font-size: .5em; }
  .lightbox .content {
    display: block;
    position: relative; }
    .lightbox .content img {
      margin-top: 1em; }
  .lightbox .close {
    display: block;
    float: right;
    font-size: 1.375em;
    color: #858585; }

.category-dump li {
  border: 1px solid #00A9E0;
  padding: 1em;
  color: #555;
  font-weight: 500;
  float: initial;
  margin-top: 1em; }
  .category-dump li:first-of-type {
    margin-top: 0; }
  .category-dump li img {
    width: 1.250em;
    margin-right: 0.625em; }

.user-role-table {
  border-collapse: collapse; }
  @media all and (max-width: 899px) {
    .user-role-table {
      display: block; }
      .user-role-table thead, .user-role-table tbody, .user-role-table th, .user-role-table td, .user-role-table tr {
        display: block; }
      .user-role-table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px; }
      .user-role-table tbody tr:nth-of-type(odd) {
        background: #EEE; }
      .user-role-table td {
        border: 0 !important;
        position: relative;
        padding-left: 50%; }
        .user-role-table td img {
          display: none; }
      .user-role-table td:before {
        position: absolute;
        top: 20px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap; }
      .user-role-table td:nth-of-type(1):before {
        content: "Role"; }
      .user-role-table td:nth-of-type(2):before {
        content: "Create Company"; }
      .user-role-table td:nth-of-type(3):before {
        content: "Create Group"; }
      .user-role-table td:nth-of-type(4):before {
        content: "Create Event"; }
      .user-role-table td:nth-of-type(5):before {
        content: "Create Facility"; }
      .user-role-table td:nth-of-type(6):before {
        content: "Create Job"; } }
  .user-role-table th {
    color: #555;
    font-weight: 500; }
  .user-role-table .setting-text {
    text-align: center;
    position: relative; }
    .user-role-table .setting-text img {
      position: absolute;
      width: 1.25em;
      right: 0;
      top: -1.25em; }
  .user-role-table td {
    padding-bottom: 1em;
    padding-top: 1em;
    border-bottom: 1px solid #CCC; }
  .user-role-table tr:last-of-type td {
    border: 0; }

.checkbox-custom {
  opacity: 0;
  position: absolute; }

.checkbox-custom,
.checkbox-custom-label {
  display: inline-block;
  vertical-align: middle;
  margin: .25em;
  cursor: pointer; }

.checkbox-custom-label {
  position: relative;
  width: 100%; }

.checkbox-custom + .checkbox-custom-label:before {
  content: '';
  background: #FFF;
  border: 2px solid #CCC;
  vertical-align: middle;
  width: 1.25em;
  height: 1.25em;
  padding: 0.063em;
  text-align: center;
  margin: 0 auto;
  display: block; }

.checkbox-custom:checked + .checkbox-custom-label:before {
  background: #00A9E0;
  box-shadow: inset 0px 0px 0px 3px #fff; }

.checkbox-custom:focus + .checkbox-custom-label {
  outline: none; }

.add-user-role {
  margin-top: 2em; }
  .add-user-role .setting-text {
    color: #00A9E0;
    font-weight: 500; }

.card-row {
  margin-bottom: 1em; }
  .card-row.first {
    margin-top: 6em; }

.card {
  position: relative;
  min-height: 6em;
  padding-bottom: 1em;
  color: #555;
  background: #EEE;
  -webkit-box-shadow: 1px 1px 8px #555;
  -moz-box-shadow: 1px 1px 8px #555;
  box-shadow: 1px 1px 8px #555;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; }
  .card .logo-wrapper {
    position: absolute;
    top: 3em;
    width: 33%;
    left: 50%;
    margin-left: -16.67%;
    background: #FFF;
    -webkit-box-shadow: 1px 1px 8px #555;
    -moz-box-shadow: 1px 1px 8px #555;
    box-shadow: 1px 1px 8px #555;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px; }
  .card .school-name {
    font-size: 1.5em;
    text-align: center;
    margin-top: 3.5em;
    font-weight: 300;
    margin-bottom: 0; }
  .card .stat-header {
    font-size: 1.15em;
    margin: 1em;
    font-weight: 300;
    text-align: center; }
  .card .stat {
    text-align: center;
    font-size: 1em;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: .5em;
    word-break: break-all; }
    .card .stat span {
      color: #00A9E0;
      font-weight: 500;
      font-size: .9em; }

.banner-wrapper {
  position: relative; }
  .banner-wrapper .banner {
    height: 6em; }
  .banner-wrapper .banner,
  .banner-wrapper .overlay {
    border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0; }

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  opacity: .5; }

/*# sourceMappingURL=styles.css.map */
